$blue: rgb(61, 96, 215);

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin text($weight, $size, $height) {
    font-family: kantumruy;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}
@font-face {
    font-family: kantumruy;
    src: url('../fonts/Kantumruy_Pro/KantumruyPro-VariableFont_wght.ttf');
}

.hidden {
    display: none;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    @include flex(flex-start, center, column);
    gap: 30px;
    min-height: 100vh;
    padding-top: 50px;
}

header img{
    width: 350px;
}

.section {
    background-color: $blue;
    @include flex(center, center, column);
    color: white;
    padding: 60px 40px;
    text-align: center;
    width: 100vw;
    h1 { 
        @include text(600, 35px, 100%);
        margin: 20px;
        text-align: center;
        margin-bottom: 50px;
    }
}

#about p {
    @include text(300, 20px, 180%);
}

#services-flex {
    @include flex(space-evenly, center, column);
    max-width: 1000px;
    gap: 20px;
    .service {
        @include text(300, 23px, 150%);
        @include flex(flex-start, center, row);
        gap: 40px;
        text-align: left;
        padding: 20px;
        .services-txt {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h2 {
                font-weight: 500;
            }
            p {

            }
        }
    }
}

form {
    gap: 30px;
    .form-item {
        width: 500px;
        @include flex(center, flex-start, column);
        gap: 10px;
        @include text(400, 20px, 100%);
        .labelTxt {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        label {
            margin-left: 15px;
        }
        .formError {
            font-weight: 500;
            margin-right: 15px;
            color: black;
            font-style: italic;
        }
        label {
            @include text(400, 20px, 100%);
            margin-left: 15px;
        }
        input, textarea {
            width: 500px;
            min-height: 40px;
            font-size: 20px;
            border-radius: 10px;
            border: none;
            padding: 15px;
        }
    }
    #submitButton {
        @include text(500, 30px, 100%);
        width: 500px;
        height: 60px;
        border-radius: 10px;
        border: none;
        background-color: white;
        color: $blue;
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            color: white;
            cursor: pointer;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
        }
    }
    p {
        @include text(500, 22px, 100%);
        a {
            color: white;
        }
    }
}

footer {
    background-color: $blue;
    color: white;
    @include text(400, 15px, 100%);
    width: 100vw;
    padding: 40px 60px;
    text-align: center;
    @include flex(center, center, row);
    gap: 20px;
}


// tablet view
@media only screen and (max-width: 910px) {
}

//phone view
@media only screen and (max-width: 600px) {
    .form-item, #submitButton, input, textarea {
        max-width: 90vw;
    }
}