$blue: rgb(61, 96, 215);

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin text($weight, $size, $height) {
    font-family: kantumruy;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}

@font-face {
    font-family: kantumruy;
    src: url('../fonts/Kantumruy_Pro/KantumruyPro-VariableFont_wght.ttf');
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    @include flex(flex-start, center, column);
    gap: 50px;
    min-height: 100vh;
    padding: 20px;
}

header {
    @include flex(space-evenly, center, row);
    gap: 15px;
    img {
        width: 350px;
    }
    h1 {
        width: 60%;
        padding: 10px;
        text-align: center;
        font-size: 30px;
        @include text(500, 30px, 160%);
        .blue {
            color: $blue;
        }
    }
}

#services {
    width: 100%;
    text-align: center;
    h1 {
        @include text(600, 35px, 100%);
        color: $blue;
        margin: 20px;
    }
    #services-flex {
        width: 100%;
        @include flex(space-evenly, center, row);
        flex-wrap: wrap;
        gap: 30px;
        div {
            @include text(300, 20px, 150%);
            padding: 10px;
        }
    }
}

.photo-grid-2 {
    display: flex;
    width: 100vw;
    margin: 0;
    img {
        width: 50%;
        height: 300px;
        object-fit: cover;
        padding: 5px;
    }
}

.photo-grid-3 {
    display: flex;
    width: 100vw;
    margin: 0;
    img {
        width: 33%;
        height: 250px;
        object-fit: cover;
        padding: 5px;
    }
}

form {

    background-color: $blue;
    color: white;
    width: 100%;
}

// tablet view
@media only screen and (max-width: 910px) {
    header {
        flex-direction: column;
        h1 {
            width: 100%;
        }
    }

    .photo-grid-3 {
        flex-direction: column;
        img {
            width: 100%;
        }
    }
}

//phone view
@media only screen and (max-width: 600px) {
    header {
        img {
            width: 80%;
        }
    }

    .photo-grid-2 {
        flex-direction: column;
        img {
            height: 200px;
            width: 100%;
        }
    }
}