$blue: rgb(61, 96, 215);

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin text($weight, $size, $height) {
    font-family: kantumruy;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}
@font-face {
    font-family: kantumruy;
    src: url('../fonts/Kantumruy_Pro/KantumruyPro-VariableFont_wght.ttf');
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    @include flex(flex-start, center, column);
    gap: 30px;
    min-height: 100vh;
    padding-top: 50px;
}

header img{
    width: 350px;
}

#about p {
    @include text(300, 20px, 180%);
}

.photo-grid-2 {
    display: flex;
    width: 100vw;
    margin: 0;
    img {
        width: 50%;
        height: 300px;
        object-fit: cover;
        padding: 5px;
    }
}

.section {
    background-color: $blue;
    color: white;
    padding: 60px 40px;
    text-align: center;
    width: 100vw;
}
.section-heading {        
    @include text(600, 35px, 100%);
    margin: 20px;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(1, 11, 53, 0.2);
    margin-bottom: 50px;
}

#services-flex {
    @include flex(space-evenly, center, row);
    flex-wrap: wrap;
    gap: 30px;
    div {
        @include text(300, 20px, 150%);
        padding: 10px;
    }
}

form {
    background-color: $blue;
    width: 100vw;
    color: white;
    padding: 60px 40px;
    @include flex(center, center, column);
    gap: 30px;
    .form-item {
        width: 500px;
        @include flex(center, flex-start, column);
        gap: 10px;
        label {
            @include text(400, 20px, 100%);
            margin-left: 15px;
        }
        input, textarea {
            width: 500px;
            min-height: 40px;
            font-size: 20px;
            border-radius: 10px;
            border: none;
            padding: 15px;
        }
    }
    #submitButton {
        @include text(500, 30px, 100%);
        width: 500px;
        height: 60px;
        border-radius: 10px;
        border: none;
        background-color: white;
        color: $blue;
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            color: white;
            cursor: pointer;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
        }
    }
}

.photo-grid-3-2-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    img {
        width: 33.333%;
        height: 260px;
        padding: 4px;
        object-fit: cover;
    }
}

footer {
    background-color: $blue;
    color: white;
    @include text(400, 15px, 100%);
    width: 100vw;
    padding: 40px 60px;
    text-align: center;
    @include flex(center, center, row);
    gap: 20px;
    a img {
        height: 30px;
    }
}

// tablet view
@media only screen and (max-width: 910px) {
    .photo-grid-3-2-1 {
        img {
            width: 50%;
        }
        .img1 {
            display: none;
        }
    }
}

//phone view
@media only screen and (max-width: 600px) {


    .photo-grid-3-2-1 {
        img {
            width: 100%;
        }
        .img3 {
            display: none;
        }
    }

    .photo-grid-2 {
        flex-direction: column;
        img {
            height: 200px;
            width: 100%;
        }
    }

    .form-item, #submitButton, input, textarea {
        max-width: 90vw;
    }
}